<form (ngSubmit)="onAdduser()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text"
           class="form-control"
           id="username"
           placeholder="name"
           name="userName"
           #userNameInput>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           class="form-control"
           id="email"
           placeholder="name@example.com"
           name="emailAddress"
           #emailInput
    >
  </div>
  <div class="form-group form-check">
    <input type="checkbox"
           class="form-check-input"
           id="activeCheck"
           name="activeCheck"
           #activeCheckInput
    >
    <label class="form-check-label" for="activeCheck">Active</label>
  </div>
  <div class="form-group">
    <label for="roleUser">Role</label>
    <select class="form-control" id="roleUser" name="selectRole" #selectedRole>
      <option>Choose role</option>
      <option *ngFor="let role of usersService.roleArray" [value]="role">{{ role }}</option>
    </select>
  </div>
  <button type="submit" [ngClass]="btnClassName()"
  >{{ updateUserProfile() }}</button>
</form>
