<div class="container-sm row p-4">
  <div class="col-6">
    <app-new-user [checkUpdateUserProfile]="check" [UserIndex]="id"></app-new-user>
  </div>
  <div class="col-6">
    <app-users (changeUserProfile)="onChangeUserProfile($event)"></app-users>
  </div>
</div>
