<div class="card mb-1">
  <div class="card-header p-2">
    <span class="ml-2">User  #{{ id + 1 }}</span>
  </div>
  <div class="card-body p-3">
    <h5 class="card-title p-0"><strong>Username:</strong> {{ user.name }}</h5>
    <p class="card-text"><strong>email address:</strong> {{ user.email }}</p>
    <span class="mr-2"><strong>active:</strong> {{ user.active }}</span>
    <span class="mb-2"><strong>role:</strong> {{ user.role }}</span>
    <hr>
    <a href="#" class="btn btn-primary mx-2" (click)="onChangeUser()">Change</a>
    <a href="#" class="btn btn-danger" (click)="onDeleteUser()" >Delete</a>
  </div>
</div>
